<div class="columns">

  <div class="column col-12 text-center">
    <h2>Meals</h2>
  </div>

  <div class="column col-9 col-sm-12">
    <div class="tile">
      <div class="tile-icon">
        <figure class="avatar avatar-lg">
          <img class="p-1" src="assets/img/regular_burger.png" alt="regular burger">
        </figure>
      </div>
      <div class="tile-content">
        <p class="tile-title">Regular burger</p>
        <p class="tile-subtitle text-gray">1 pound Certified Angus Beef ® ground chuck. kosher salt, black pepper, onion powder, garlic powder, paprika, cayenne, sweet onion</p>
      </div>
    </div>
  </div>
</div>


