<div class="column col-12 col-xs-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title h5 text-center">{{item.name}}</div>
    </div>
    <div class="card-image centered">
      <img class="img-responsive p-2 m-2" [src]="item.thumbnail" alt="Item Image">
    </div>
    <div class="card-body">
      {{item.description}}
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-block">
        <button class="btn btn-primary">Buy</button>
        <button class="btn">Go Back</button>
      </div>
    </div>
  </div>
</div>
